<h1>Recent Exceptions</h1>

<% if store.empty? %>
  <p>No exceptions yet. You're just that awesome.</p>
<% else %>
  <p><a href="/search">Search</a></p>

  <%= will_paginate @records %>
  <table id="exceptions" cellpadding="0">
    <tr>
      <th class="count">Count</th>
      <th class="last_occurred">Last Occurred</th>
      <th class="exception">Exception</th>
      <th class="links">&nbsp;</th>
    </tr>
    <% @records.each_with_index do |group, i| %>
      <tr class="<%= i.even? ? 'even' : 'odd' %>">
        <td class="count"><%= group.count.to_i %></td>
        <td class="last_occurred">
          <span class="timestamp"><%= h group.most_recent_report.timestamp %></span><br />
          <%= h group.most_recent_report.application %><br />
          <%= h group.most_recent_report.machine %><br />
        </td>
        <% @exception = group.most_recent_report %>
        <td class="exception"><div><%= erb :_exception_message %></div></td>
        <td class="links"><a href="/exceptions/<%= group.most_recent_report.id %>.html">View</a> | <a href="/similar/<%= group.digest %>.html">See all</a></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @records %>
<% end %>
