<h1>Recent Exceptions</h1>

<% if store.empty? %>
  <p>No exceptions yet. You're just that awesome.</p>
<% else %>
  <p><a href="/search">Search</a></p>

  <table id="exceptions" cellpadding="0">
    <tr>
      <th class="count">Count</th>
      <th class="last_occurred">Last Occurred</th>
      <th class="exception">Exception</th>
      <th class="links">&nbsp;</th>
    </tr>
    <% store.recent.each_with_index do |recent_group, i| %>
      <% count, most_recent = recent_group %>
      <tr class="<%= i.even? ? 'even' : 'odd' %>">
        <td class="count"><%= count.to_i %></td>
        <td class="last_occurred">
          <span class="timestamp"><%= most_recent.timestamp %></span><br />
          <%= most_recent.application %><br />
          <%= most_recent.machine %><br />
        </td>
        <td class="exception"><%= most_recent.exception %></td>
        <td class="links"><a href="/exceptions/<%= most_recent.id %>.html">View</a> | <a href="/similar/<%= most_recent.digest %>.html">See all</a></td>
      </tr>
    <% end %>
  </table>
<% end %>
