<p><a href="/">Back to list</a></p>
<h1>Search</h1>

<div id="search_form" class="clearfix">
  <form method="get" action="/search">
    <label for="application">Application</label>
    <select id="application" name="application">
      <option value=""></option>
      <% store.applications.each do |application| %>
        <option value="<%= application %>" <%= "selected='selected'" if params['application'] == application %>><%= application %></option>
      <% end %>
    </select>

    <label for="machine">Machine</label>
    <select id="machine" name="machine">
      <option value=""></option>
      <% store.machines.each do |machine| %>
        <option value="<%= machine %>" <%= "selected='selected'" if params['machine'] == machine %>><%= machine %></option>
      <% end %>
    </select>

    <label for="exception">Message</label>
    <input id="exception" type="text" name="exception" value="<%= params[:exception] %>" />

    <label for="type">Type</label>
    <input id="type" type="text" name="type" value="<%= params[:type] %>" />

    <% if store.supports_extended_searches? %>
      <label for="data">Extra data (key:"value")</label>
      <input id="data" type="text" name="data" value="<%= params[:data] %>" />
    <% end %>
    
    <input type="submit" name="Search" value="Search" />
  </form>
</div>

<% if @results %>
  <h2>Search results</h2>
  <% @rows = @results%>
  <%= erb :_exception_table %>
<% end %>
