<p><a href="/">Back to list</a></p>
<h1>Exception in <%= h @report.application %></h1>
<h3>on <%= h @report.machine %> @ <%= h @report.timestamp %></h3>

<dl class="group_details">
  <dt>Count</dt><dd><%= h(@group.count) %></dd>
  <dt>First occurred</dt><dd><%= h(@group.first_timestamp) %></dd>
  <dt>Most recently occurred</dt><dd><%= h(@group.most_recent_timestamp) %></dd>
  <dt>On machines</dt><dd><%= h(@group.machines.join(', ')) %></dd>
  <dt>Exception class</dt><dd><%= h(@group.type) %></dd>
</dl>
<p><a href="/similar/<%= @report.digest%>.html">See all</a></p>
<% plugins.each do |plugin| %>
  <% if plugin.respond_to?(:exception_links) %>
    <% plugin.exception_links(@report).each do |name, href| %>
      <p><a href="<%= href %>"><%= name %></a></p>
    <% end %>
  <% end %>
<% end %>

<% @exception = @report %>
<h2><%= erb :_exception_message %></h2>

<% if @report.backtrace %>
<h3>Stack trace</h3>
<pre><code><%= h @report.backtrace.join("\n") %></code></pre>
<% end %>

<% if @report.data && !@report.data.empty? %>
<h3>Additional information</h3>
<pre><code><%= h @report.data.to_yaml %></code></pre>
<% end %>
